div.header-main {
	background-color: #191c2b;
	height: 180px;
	margin: 0px;
	padding-top: 96px;
}

div.header-sm {
	background-color: #191c2b;
	height: 96px;
	margin: 0px;
	padding-top: 36px;
	width: 100%;
	position: fixed;
	z-index: 9;
}

div.header-lt {
	background-color: #dfceb6;
	height: 96px;
	margin: 0px;
	padding-top: 36px;
	width: 100%;
	z-index: 9;
}

div.header-fixed {
	position: fixed;
}

.header-margin {
	margin-top: 210px;
}

.header-container{
	margin: 0px auto;
	width: 210px;
}

.header-sub-text {
	margin: 0px;
	font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

div.section-header {
	margin-top: 96px;
}

.section-header-text {
	margin: 0px;
	font-size: 27px;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    color: #444;
}

.header-sm-lt {
	margin: 0px;
	font-size: 21px;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    color: #444;
}

div.section-line {
	height: 1px;
	width: 120px;
	border-bottom: 1px solid #666;
	margin: 8px auto;
}

div.section-line-lt {
	height: 1px;
	width: 120px;
	border-bottom: 1px solid #F4F2D0;
	margin: 8px auto;
}

#intro-content {
	margin: 96px auto;
}

#theory-content {
	margin: 36px auto;
}

p.body-text {
	font-size: 18px;
	line-height: 27px;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    color: #444;
}

.centered {
	margin: 24px auto;
	width: 180px;
}

.cstm-btn {
	height: 42px;
	width: 160px;
	background: none; 
	border: 2px solid #191c2b;
	border-radius: 21px;
	font-size: 18px;
	line-height: 42px;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    color: #191c2b;
    text-align: center;
}

.cstm-btn:hover,
.cstm-btn:focus,
.cstm-btn:active {
	background-color: #191c2b;
	color: #fff;
}

.cstm-btn-solid {
	height: 42px;
	width: 160px;
	background: #191c2b; 
	border: 2px solid #191c2b;
	border-radius: 21px;
	font-size: 18px;
	line-height: 42px;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.cstm-btn-solid:hover,
.cstm-btn-solid:focus,
.cstm-btn-solid:active {
	background-color: #2b193d;
	color: #fff;
}

.cstm-float-rt {
	float: right;
}

.form-btn {
	display: inline-block;
	height: 36px;
	width: 120px;
	font-size: 18px;
	line-height: 32px;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.btn-wide {
	width: 180px;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: #191c2b;
}

.added-margin-top{
	margin-top: 64px;
}

.button-v-align {
	margin-top: 160px;
}

img.intro-img {
	position: relative;
	display: block;
	margin: 12px auto;
	width: 480px;
}

#intro-bg-img {
	min-height: 480px;
	background-color: #20132D;
}

svg.trial-canvas{
	margin: 72px auto;
}

.non-active{
	fill: none;
}

#popupSelectionError {
	display: none;
	position:fixed;
	left:50%;
	top:50%;
	width:240px;
	height:32px;
	margin-top:-125px;
	margin-left:-120px;
	background: orange;
	border: 2px solid white;
	z-index: 19;
}

#bubble-text{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: purple;
}

div.task-placeholder {
	margin: auto;
	height: 200px;
	width: 300px;
	border: #a5a5a5 2px solid;
	border-radius: 12px;
}

div.task-placeholder:hover,
div.task-placeholder:active,
div.task-placeholder:focus {
	border: #191c2b 2px solid;
}

img.scene-target {
	display: block;
	width: 240px;
	margin: 20px auto;
}

.caption-text {
	margin: 12px auto;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #444;
	max-width: 240px;
}

.dark {
	color: #444;
}

.light {
	color: #F4F2D0;
}

.home-img {
	max-width: 100%;
}

.form-input-narrow {
	display: inline-block;
	width: 120px;
}

.form-cstm-input {
	height: 36px;
	padding: 0px 18px;
	border-radius: 18px;
	border: 0.5px solid #ddd;
}

.div-bg-img {
	background-image: url("../images/bg_screen.png"); 
}

.theory-img {
	max-width: 900px;
	margin: 0px auto;
}